/* *{
    font-size: 1.1rem;
} */
.terms-container {
	font-family: "Open Sans", sans-serif;
	color: #262626;
}

.terms-title h1 {
	font-size: 46px;
	font-family: "RobotoCondensed-Bold";
	text-align: center;
	font-weight: bold;
	letter-spacing: 10px;
}

.terms-body h4 {
	color: #eb573d;
	font-size: 14px;
	line-height: 25px;
}

.terms-body h3 {
	font-family: "RobotoCondensed-Bold";
	color: #262626;
	font-weight: bold;
	text-align: left;
	margin-bottom: -10px;
	font-size: 23px;
}

.terms-body p {
	font-size: 15px;
	line-height: 25px;
}

.terms-body a {
	color: #eb573d;
}

.terms-body a:hover {
	color: #eb573d;
	text-decoration: none;
}

.terms_footer h3 {
	margin-top: 60px;
	margin-bottom: 125px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 1.5;
	color: #262626;
}

.terms_footer h3 a:link {
	color: #eb573d;
	text-decoration: none;
}
